@page "/login"
@using Services

<div class="registercontainer"> 
<p>
    <label for="">Nome Completo:</label>
    <input type="text" @bind-value="@nome"/>
</p>
<br>
<p>
    <label>Senha</label>
    <input type="Password"@bind-value="@senha"/>
</p>

<p>
    <label for="">Data de Nascimento</label>
    <input type="date"@bind-value="@birth"/>

</p>

<p>
    <label for="">Nome de usuário</label>
    <input type="text"@bind-value="@userId"/>
</p>

<button onclick="@CreateAccount">criar conta</button>

@code{
    private string nome; 
    private string senha; 
    private DateTime birth;
    private string userId;
    public async void CreateAccount()
    {
            UserService service = new UserService( 
                ""
            );
           await service.Register(this.nome, this.userId, this.birth, this.senha);
    }
}
</div>